[2020-09-18 14:25] randallknutson commented on #334
I believe a PR would be needed. The onDeleteComponent is an event so it notifies you of that happening but does not allow modification of the flow. If you set up a PR with this change, it would probably be best to make it an option that can be passed in so that we don't change the default functionality.

[2020-09-18 14:26] randallknutson commented on #334
If you haven't found it, the code is here: https://github.com/formio/formio.js/blob/master/src/WebformBuilder.js#L960-L970

[2020-09-22 19:21] vivekvt commented on #253
I got same error , I am using nextjs.
![Screenshot from 2020-09-23 00-49-11](https://user-images.githubusercontent.com/50275510/93927696-ddd4e600-fd36-11ea-980d-28a589335b81.png)

[2020-09-23 15:35] vivekvt opened #335 "With Next.js Got error: document is not defined"
I am getting error for FormBuilder Component.
I saw old issue from octomber 2019 which is closed https://github.com/formio/react-formio/issues/253 which told react-formio@4 will have SSR Support.
I am got same error in react-formio@4.3.0
document is not defined
[code]
![Screenshot from 2020-09-23 20-53-46](https://user-images.githubusercontent.com/50275510/94033934-116b4b00-fddf-11ea-8775-c104f052

[2020-09-23 17:04] vijamesDD commented on #272
Hi, was there anything further on this? We are also keen to have material-ui styling for formio in a react app.

If there isn't a material-ui template yet for react, would anyone have an idea for a work around?

Couple of things I've looked into as work arounds for applying the Material UI to rendered formio forms are below but neither worked:
1) Overriding the form template per component (https:/

[2020-09-24 15:38] jepz opened #336 "[BUG] Warning: componentWillReceiveProps has been renamed - react-formio Form component."
I have started receiving this error when closing / unmounting react-formIo component, it's in a functional component.

Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your c

[2020-09-28 03:30] abhilash-aot commented on #321
I am too facing the same issue I can see the data in the submission Response but its not displaying in the custom component. Please help to fix this or any work around available. Thanks

[2020-10-05 16:02] JovanT commented on #135
dears the issue is in double call of this.initializeFormio(); once in componentDidMount second time in componentWillReceiveProps,
and this is only when we change the form and we open for the frist time the second time if (form !== nextProps.form) not leting double registration.

[2020-10-07 11:22] darshanksexathought commented on #286
I am still facing this issue this.reactInstance is null always so it is not able to set the value

[2020-10-09 14:06] rtenhove commented on #336
Duplicate of [issue 290](https://github.com/formio/react-formio/issues/290).

[2020-10-09 18:56] wag110894 commented on #135
Hello all,

This issue has actually been resolved on our 4.12.0 build of formio.js. You will need to make change to your package.json and you will see this issue resolved.

[2020-10-18 18:29] vaspaul opened #338 "[BUG] Wizard Tabs beyond of the form, beyond of the screen."
## Environment

- Version: "^4.2.4"
- Formio.js version: 4.11.0
- Frontend framework: React
- Browser: all browsers all versions

## Steps to Reproduce
1. Create wizard form with many (20-30) tabs and long titles.
2. Invoke this form to display.

## Expected behavior
Expects to see a wizard form with scrollable tabs, something like this:
![Expected scrollable tabs. Something like this](https://i.s

[2020-10-19 03:31] namti opened #339 "[Question] How can I invoke the checkValidity() method in React"
I am using the Form component and want to invoke the built-in checkValidity method before submitting the data to my own API. I have tried to use `createRef` but it says `this.form.checkValidity is not a function`

Here is the code snippet:

[code]

Any help is appreciated

[2020-10-19 14:38] randallknutson commented on #339
I've never used React.createRef as I've always done something like ref={(form) => this.form = form}. I'm assuming it will work like that with createRef.

What I'd do is set a breakpoint in the onSave event and check what the value of this.form is set to at that point. See if it is an instance of the WebForm class.

[2020-10-19 15:10] raphaelclh opened #340 "[Question] How can i use custom react package?"
How can i implement a word highlighting package or function such as https://github.com/bonafideduck/react-highlight-within-textarea, together with form.io text area?

[2020-10-19 19:46] namti commented on #339
Thank you @randallknutson I can access the `this.form`. There is a key called `instance` but no checkValidity() function.

[code]

[2020-10-20 12:17] vaspaul opened #341 "[BUG] Wizard. The set default value is not visible."
## Environment
- React-formio version: "^4.2.4"
- Formio.js version: "4.11.0"
- Frontend framework: React "^16.8.6"
- Browser: many browsers.
- Browser version: many browser versions.

## Steps to Reproduce
0. Create a wizard form, add the input component to it, and save.
1. Click "Edit" on the added input form component.
2. Set default value.
2.1. Mark some value as default.
2.2. Pay attention to

[2020-10-21 08:18] mm-dsibinski commented on #334
I issued a PR with this change: https://github.com/formio/formio.js/pull/3396

[2020-10-21 14:06] rsm23 opened #342 "[BUG] i18n instance is destroyed when inistializing formio"
I have a reract project, where I'm inistializing i18n like so :
[code]

But When I call my component which contains the formio component :
[code]
All my translations are broken, is there a way to fix this, or even to disable the formio i18n package?

[2020-10-21 15:47] alexandraRamanenka commented on #342
Try to pass your i18n instance to the Form component like so:
[code]

[2020-10-21 18:06] alexandraRamanenka commented on #339
Just use
[code]
instead. Your ref points to the react component and to reach the Webform's instance you need use 'formio' property.

[2020-10-21 18:24] alexandraRamanenka commented on #340
You can achieve something like this only by direct nodes manipulation since react-formio Form is only a wrapper for the core formiojs components.
To select the component root node use the following selector pattern `.formio-component-${componentAPIKey}`
To select the input of the component use `.formio-component-${componentAPIKey} [ref='input']`

[2020-10-21 20:32] namti commented on #339
Thank you @alexandraRamanenka

The function is under `this.form.current.formio` in React. I have tried the code below, but the result is always `true`. The name textfield is empty as the submission data shows. I set the field required. The result should be `false`.
[code]
Submission data
`this.form.current.props.submission`
[code]

Component
`this.form.current.props.form`
[code]

[2020-10-22 06:21] alexandraRamanenka commented on #339
The problem is that you set '**required**' to '1', the field will be considered as required only if that property is **strict equal** to **true**
Have you modified the JSON manually?

[2020-10-22 07:54] rsm23 commented on #342
When I pass my instance t form io I got this error :
![Capture d’écran 2020-10-22 095256](https://user-images.githubusercontent.com/2084708/96841740-718bf600-144c-11eb-8003-e766c6111790.png)

And Here is the code responsible for the error :

![Capture d’écran 2020-10-22 095349](https://user-images.githubusercontent.com/2084708/96841822-8b2d3d80-144c-11eb-849c-47add7819043.png)

[2020-10-22 22:11] namti commented on #339
Yeah, the API changes boolean to string. Anyway, this problem has been solved. It is working!

Thank you very much!

[2020-10-22 22:11] #339 closed

[2020-10-23 06:30] vaspaul opened #344 "[BUG] Wizard Null-components сauses an error"
## Environment
- React-formio version: "^4.2.4"
- Formio.js version: "4.11.0"
- Frontend framework: React "^16.8.6"
- Browser: many browsers.
- Browser version: many browser versions.

## Steps to Reproduce
1. The user edit a Wizard form (in Wizard-Builder) and delete the "Panel" component.
2. When the user delete this component, there is a substitution of the "Panel" form component to "null" (in

[2020-10-23 16:04] alexandraRamanenka commented on #344
Surely, it's a bug. Normally, when user deletes a component it should be completely removed from components array. There were a lot of changes done to Wizard component recently, so it seems that it is a bug in the core renderer. We will add it to our planning.

[2020-10-23 17:25] alexandraRamanenka commented on #342
Oh, it's because i18next.init(...) returns a promise. You can pass resources to options instead. Like so:
[code]

[2020-10-23 19:05] wag110894 commented on #341
Hello @vaspaul,

Thanks for reaching out!

We are aware of this issue and have resolved it in formio.js version 4.12.1-rc1.  I hope that this helps.

Have a great weekend.

[2020-10-23 19:10] wag110894 commented on #336
React has now been upgraded to 16.13.1.

Please let me know if you have any further questions.

[2020-10-23 19:10] #336 closed

[2020-10-26 06:07] vaspaul commented on #341
Hi, @wag110894 ,
Thank you for responding!

You know, I just tried changing the formio.js version for the following:

- 4.12.1-rc.1
- 4.12.1-rc.12
- 5.0.0-m.1
- 5.0.0-m.3

I saw the same thing on all of them - the bug is still reproduces.

[2020-10-28 07:44] vaspaul opened #345 "[BUG / UNEXPECTED BEHAVIOR] When editing the "label", the "value" changes too."
## Environment
- React-formio version: "^4.2.4"
- Formio.js version: "4.11.0"
- Frontend framework: React "^16.8.6"
- Browser: many browsers.
- Browser version: many browser versions.

## Steps to Reproduce
0. Create a form, add the "Select boxes" component to it.
1. Click "Edit" on the select boxes component.
2. Change the label.
3. Pay attention - the value is changed too.

## Expected behavior

[2020-10-28 09:12] vaspaul opened #346 "[BUG / UNEXPECTED BEHAVIOR] The error-message does not reflect the cause of the error."
## Environment
- React-formio version: "^4.2.4"
- Formio.js version: "4.11.0"
- Frontend framework: React "^16.8.6"
- Browser: many browsers.
- Browser version: many browser versions.

## Steps to Reproduce
0. Create a form, add the "Text Field" component to it. (The edit window opens immediately after that)
1. Enter non-Latin characters in the "Label" field.
2. Try to save.
3. Pay attention - An

[2020-10-28 19:29] UmarEhsan commented on #153
@randallknutson The URL you added is not working can you please reshare that.

[2020-10-28 20:21] wag110894 commented on #344
@vaspaul, For reference, the ticket number is FJS-1370. It is currently on our backlog. We will let you know once this issue has been resolved.

[2020-10-28 20:29] wag110894 commented on #341
@vaspaul, Can you provide what version of the formio app you are running on? You may need to upgrade that in order to see the difference.

[2020-10-29 07:19] alexandraRamanenka commented on #153
Take a look at our example react application https://github.com/formio/react-app-starterkit/blob/master/src/views/Form/Item/View.js
To handling submissions, you need two things:
1.  Submit button on the form
2. onSubmit callback passed as a property to the Form component from react-formio

[2020-10-29 07:22] alexandraRamanenka commented on #345
This is how it's meant to work, values are calculated automatically  based on the Label field. You are able to manually change the value, but once you change the Label again, the Value will be recalculated.

[2020-10-29 16:23] vaspaul commented on #345
@alexandraRamanenka So this behavior is not a bug, but a pre-planned feature? To change this behavior you don't plan, it suits the developers. Did I get it right?

[2020-10-29 17:03] alexandraRamanenka commented on #345
Sure. It works in a such way by design. I know that it is not ideal, but we have have a list of items to discuss and improve in the 5th release.

[2020-10-29 18:21] vaspaul commented on #345
@alexandraRamanenka Will you discuss the question about this issue too? If there is, I would like to know the result of the developers ' discussion and decision on this issue.

[2020-10-30 18:48] wag110894 commented on #345
Hello @vaspaul, we will definitely add this item to be discussed for places we could improve going into our 5x release.

[2020-10-30 18:54] wag110894 commented on #346
Hello @vaspaul,

Thanks for reaching out! This error means that the API that you have added to the API key section is not valid, so you will need to change it. You can change the Label back after the initial save and it will not impact the API key.

I hope that this helps.

[2020-11-02 12:20] UmarEhsan commented on #153
@alexandraRamanenka
Thanks 👍

[2020-11-05 03:32] tunggao commented on #135
@wag110894 Hi, Although I upgraded formio.js to version 4.12.0,  my function onSubmit still call multiple 4 times, I had console.log my data and it's displayed 4 times. Could you have any solution ?. Thanks a lot!

![issues_screen21](https://user-images.githubusercontent.com/31013999/98194551-3d3b2e00-1f52-11eb-8eb5-f6af2842c37f.png)

[2020-11-05 18:37] vaspaul commented on #341
@wag110894
I created a very simple react-app, just a demo:
[code]
At the console you can see the versions that are being used:
![4 3 0_12 4 1-rc 1_console](https://user-images.githubusercontent.com/46297009/98281418-cd5a9100-1fad-11eb-89cf-b55843cb1be8.png)
With this versions, the bug still reproduces:
![4 3 0_12 4 1-rc 1_step1](https://user-images.githubusercontent.com/46297009/98281424-ce8bbe00-

[2020-11-06 05:33] vaspaul commented on #346
Hi, @wag110894 ,
Will developers add this information to the error message explicitly in the next release?

[2020-11-11 21:59] jonathanlarav opened #347 "How to advance page in a wizard without the next button?"
I have a wizard with 3 pages, page1 has two buttons and it needs to advance to either page2 or page3 depending on which button is preset (the next, cancel and previous buttons are hidden)
Each button is publishing an event but I don't know how to use the event parameters to transition to the next page?
Is there a different way to address this?

[2020-11-12 19:55] alexandraRamanenka commented on #347
First of all, consider using Advanced Next Page option in the Page's settings. It allows to decide which page should be opened depending on some conditions.
![image](https://user-images.githubusercontent.com/60643585/98988205-59356580-2538-11eb-90b0-b010a0642ab9.png)
If it is not applicable for your case, so you can set your buttons to execute custom actions instead of emitting an event.
![image](

[2020-11-13 08:48] darshanksexathought commented on #322
@hangover7 can you send the code on how did you implement the custom component?

[2020-11-16 08:24] #332 closed

[2020-11-16 08:34] SergeyMelnyk opened #348 "React-Formio custom component"
Hello everyon, can you help me with custom component, i created few custom component but the render outside general tree componen, outside Router Reduxa and outher Context

![image](https://user-images.githubusercontent.com/39995312/99229939-5916bd80-27f7-11eb-93b7-99a1ec4e4c5f.png)

[2020-11-17 16:16] gs11 opened #349 "[BUG] Nested forms doesn't load properly"
## Environment
Please provide as many details as you can:

- Hosting type
  - [X] Local deployment
    - Version: Application: 7.1.17-rc.7, Renderer: 4.12.0-rc.14
- Formio.js version: 4.12.1
- Frontend framework: React
- Browser: Firefox
- Browser version: 82.0.3

## Steps to Reproduce
1. Add the Form component:
[code]
Where the form is the json definition behind `appConfig.formUrl`

2. Let `appCo

[2020-11-17 20:08] adventmedia opened #350 "[BUG] Custom default value chokes on Text Field Component with Add Another option"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version:4.10.0-rc.1
- Frontend framework: React 16.9
- Browser: Chrome
- Browser version: 86.0.4240.198

## Steps to Reproduce
1. Create a form component that uses Text Field Component with Add Another option (e.g. API key `thoughtsAboutYourself`
2. Create a

[2020-11-18 22:22] #350 closed

[2020-11-18 22:23] adventmedia commented on #350
my bad

[2020-11-24 06:17] Anandks1993 opened #351 "How to customize paste/edit json options."
Thank you for this wonderful package.

This is not an ISSUE, I just have some questions for customization.

- Hosting type
  - [x] JSON Schema
- Formio.js version: 4.9.16
- Frontend framework: React v15.3.0

<img width="102" alt="Edit-Tooltip" src="https://user-images.githubusercontent.com/26414695/100055681-38c7ae00-2e4a-11eb-9d99-6bf29c512a44.png">

1) Is there a way to customize the options whe

[2020-11-24 11:40] murrayw24 commented on #329
Hi there @wag110894 I just wondered if there is any update on this as it is also affecting us?

@MalkyTheKid did you manage to find a suitable workaround?

Thanks,
Murray

[2020-11-24 15:55] adventmedia opened #352 "[BUG]"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: ^4.10.0-rc.1 (also 4.12)
- Frontend framework: React 16.13.1, react-formio 4.3.0
- Browser: Chrome
- Browser version: 87.x

## Steps to Reproduce
1. Create form with Date/Time component
2. Set Display->Format to 'MMM dd yyyy hh:mm a'
3. Access form

[2020-11-24 17:11] wag110894 commented on #348
@SergeyMelnyk,

We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior developers to work directly with you in online sessions.  Please let me know if you are interested and I can provide you our Support Package Options.

[2020-11-24 17:14] wag110894 commented on #329
Hello @murrayw24, This item is still on our backlog.  As I mentioned above, we do welcome pull requests and also have a process to expedite this issue if you are interested.

If you are interested in expediting, please let us know by contacting support@form.io and we can get the process started.

[2020-11-25 15:22] travist commented on #351
All of these customizations would need to be made to the "core" renderer @ https://github.com/formio/formio.js and can be done. For example, the templates can be modified by following the tutorial @ https://github.com/formio/formio.js/wiki/Templates-API  This should answer most of your questions.

As for moving fields from one group to another, this can also be done by creating a custom form build

[2020-11-26 05:24] Anandks1993 commented on #351
@travist Thank you, I will take a look into those.

[2020-11-26 05:24] #351 closed

[2020-11-26 05:26] RY3777 opened #353 "PDF form builder not working"
<FormBuilder
        form={{ display: "pdf" }}
        onChange={(schema) => console.log(JSON.stringify(schema),setData(schema))}
        onSaveComponent ={(component)=>console.log(component)}
      />

1) This is only able to load the spinner instead of PDF in the form builder, is there any other alternate to load PDF.
2) Also how to download the created form as a PDF .
Help us out on this, thank

[2020-11-26 07:55] gs11 commented on #349
Resolved.
After setting the `projectUrl` & `baseUrl` the nested forms load just fine:
[code]

[2020-11-26 07:55] #349 closed

[2020-11-27 11:36] princekumar-stericycle commented on #221
@lubovsky I am facing the same issue, Can you let me know how can we fix this ?

[2020-11-30 14:54] wag110894 commented on #353
Hello @RY3777,

PDF is only available using our Commerical platform and is not available in the open-source.
 Our commercial platform includes PDFs, multi-tenanted platform application ability, branded emails with templates, advanced conditional logic, webhook interfaces, and more.

If you are interested in learning more about or Commerical platform and features, please contact support@form.io.

[2020-12-01 06:00] alexandraRamanenka commented on #352
I cannot replicate the issue neither using portal.form.io nor using Form component from react-formio with the component schema you provided.
I've tried using formiojs 4.10.x, 4.11.x, 4.12.x
Just try to upgrade formiojs to v4.12.0 which portal.form.io uses now. Let me know if it helps

[2020-12-01 11:49] Anandks1993 commented on #351
@travist Is it possible to have SUBMIT button always there on the formbuilder?

[2020-12-01 19:56] adventmedia commented on #352
formiojs 4.12.1 seems to solve the problem

[2020-12-01 19:56] #352 closed

[2020-12-01 20:01] adventmedia opened #354 "[BUG] formReady event not firing"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 4.3.0
- Formio.js version: 4.12.1
- Frontend framework: React 16.13.1
- Browser: Chrome
- Browser version: 87.x

## Steps to Reproduce
[code]

## Expected behavior
formReady event fires when form is loaded

## Observed behavior
nada. nothing. (customEvent works as expec

[2020-12-03 15:15] travist commented on #351
Are you referring to the Form submit button?  It should be there.  What version of the core renderer are you using?

[2020-12-03 15:21] travist commented on #354
Thanks for the bug report. We will take a look.

[2020-12-03 21:53] adventmedia opened #355 "[BUG] Select Boxes component - not applying selected class"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: react-formio: 4.3.0
- Formio.js version: 4.12.1
- Frontend framework: React 16.9.0
- Browser: Chrome
- Browser version: 87.x

## Steps to Reproduce
1. Create a form with a Select Boxes component
2. Load & run the form
3. Select an option

## Expected behaviour
Compared

[2020-12-05 10:08] Anandks1993 commented on #351
@travist Sorry that I didn't ask my question well, yes the submit button is there always, I just don't want users to remove that, on hover users will see an option to remove each field but for Submit button I don't want to show the remove option.

I just thought about one solution for my case, I thought of not showing the submit button in the formbuilder and only show that in formrenderer.

I just

[2020-12-07 12:15] syed-farjana commented on #210
I think issue is not resolved yet even in 4.4.2 also.  I am using 4.12.0 version the issue remains same and I have directly tested this issue portal.formio

[2020-12-07 14:59] travist commented on #351
I bet it is possible to hide the overlay with CSS. Have you tried to do that in your own application?

[2020-12-07 15:30] wag110894 commented on #354
Hello @adventmedia,

We have created a ticket and have added this to our backlog. We welcome a pull request or have a process to expedite this issue if you are interested. For reference, the ticket number is FIO-187.

[2020-12-08 05:35] Anandks1993 commented on #351
@travist  Yeah I tried to hide the overlay only for `SUBMIT` button but all the overlay seems to have same class names. The options (edit, move, copy etc.,) is a sibling which comes before the `SUBMIT` element, so I could not use the help of SUBMIT button's class name to target the overlay.

So I am thinking to not show the SUBMIT button in the builder and remove `BUTTON` component, then I can ins

[2020-12-08 08:29] SergeyMelnyk opened #356 "Wizard go to page event"
Hello every one, can i do jump from 2 page wizard, to 5 for example, using one event, maybe like "goTo(5)"

[2020-12-08 12:29] mm-dsibinski commented on #323
+1 to this issue.
We can change the form's language in JS in `then()` after `createForm()` finishes, but how to achieve that in React FormIO?

[2020-12-08 13:05] darshanksexathought commented on #323
For React Formio , In the options, you can give something like this will convert all the matched keys to respective values
even you can give component name also
` <FormBuilder
          key={form._id}
          form={form}
          onChange={(schema) => onChange(schema, section, index)}
          onEditComponent={this.handleEdit}
          options={{
            template: 'bootstrap',

[2020-12-08 13:11] darshanksexathought commented on #348
@wag110894 can you please send me the support package details?

[2020-12-08 13:24] mm-dsibinski commented on #323
@darshanksexathought yeah, I know that. I was wondering how, in the example you provided, I can change only the form's language, but not the builder. So let's say that I display FormBuilder in Spanish, but the form inside it in Chinese.

[2020-12-08 14:44] darshanksexathought commented on #323
So just rephrasing your question you want the builder to be in Spanish and form inside it in Chinese?

[2020-12-08 16:14] mm-dsibinski commented on #323
Imagine that an administrator, who is responsible for creating forms speak Spanish. So the FormBuilder and its elements for building forms (buttons, tabs etc.) should be in Spanish.
However, the company also uses multi-language forms. So someone else translated the form to another languages like Chinese.
Now the administrator wants to see the Chinese version of the form inside the FormBuilder. (S)

[2020-12-08 16:40] darshanksexathought commented on #323
Okay there is no option to translate any language automatically only the predefined set of key-value pairs will be translated based on the required language

[2020-12-08 17:58] mm-dsibinski commented on #323
I know that ;) I want to use predefined i18n json with translations, but still set different display languages for form and FormBuilder. But didn't find any way to do that.

[2020-12-08 18:11] darshanksexathought commented on #323
of course, you can do it if you are using predefined keys then you can switch between the languages based on the user in both builder as well as form renderer
so here you can switch between the languages like for builder if you want as I showed in the above example you can give the language based on the user similarly in the form render as well like this
[code]

[2020-12-08 21:16] wag110894 commented on #356
Hello @SergeyMelnyk,

Thanks for reaching out!

Are you wanting to accomplish this on the next button? You can also set your Wizard to enable breadcrumbs so that you can manually move from page 2 to 5.

Let me know if this helps.

[2020-12-09 06:53] SergeyMelnyk commented on #356
@wag110894 thanks for your answer, but it is not what i need, i want disabled ny breadcrumbs for click, and on the last step i created custom component, where is all crouped information  from previous steps, and i created near this groups litl buton for edit information, this button must do 'redirect' or like gotTo() page

[2020-12-09 07:16] mm-dsibinski commented on #323
Thanks for answering @darshanksexathought , but you still don't get me ;)
`Form` component is all good. I know we can display it i the language provided as a `language` in options.
What I want is to display `FormBuilder` component and set different language for the builder and form the form displayed **within** that builder.

Let me show you a screenshot:
![image](https://user-images.githubusercon

[2020-12-09 07:37] darshanksexathought commented on #323
Okay got it, if this is the requirement then its not possible with the current formiojs , but you can clone the repo and modify the code  and take two language input in the options and modify the logic. but from the requirement standpoint, I don't know why a single person has to see two different languages on the same page, maybe I am thinking in a different way,  is it like to show the preview of

[2020-12-09 07:58] mm-dsibinski commented on #323
The issue originated from this bug: https://github.com/formio/formio.js/issues/3531
Actually I tried to workaround that by setting a non-existing language on the form definition. It would make the builder be translated, but the form's contents not.

Then I realized setting different languages for FormBuilder and the form within it might be a real use case (see my previous comment). Anyway, I don't

[2020-12-09 08:07] Anandks1993 opened #357 "[BUG] Error in building the app (core-js - cannot resolve module)"
- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 4.3.0
- Formio.js version: 4.9.16
- Frontend framework: react (v15.3.0)
- Browser: any
- Browser version: any

Everything worked fine in local development, app was up and running without any error, But when I tried to build the app to deploy I am getting the following issue. It seems to be due to CORE-JS module.

![image](https

[2020-12-09 14:58] travist commented on #356
Inside of your custom component you can do the following which will have it go to certain pages.

[code]

This can also be achieved in the Custom button component like this.

[code]

[2020-12-09 15:00] travist commented on #357
This is probably a difference is "core-js" versions. Type the following and let me know what it says.

[code]

[2020-12-09 22:00] wag110894 commented on #210
@syed-farjana can you provide a form to where you can replicate this issue on our side?

[2020-12-10 08:59] christianztamayo opened #360 "[BUG] Typing spaces to Text Area does not trigger an onChange"
## Environment
- Hosting type: Local deployment
- React Formio.js version: 4.3.0

## Steps to Reproduce
1. Go to [codesandbox example](https://codesandbox.io/s/react-formio-textarea-onchange-w5we5?file=/src/App.js)
2. Type in spaces to the Text Field
3. Bottom log should print `[timestamp]: textField changed`
4. Now type in spaces to the Text Area
5. Bottom log does not print anything since `onCha

[2020-12-10 12:42] Anandks1993 commented on #357
@travist This is what I got, when I tried that command you mentioned.
![error](https://user-images.githubusercontent.com/26414695/101773784-413f0a80-3b13-11eb-992e-8295f7b29944.png)

[2020-12-10 15:21] travist commented on #357
Some of them are using 1.27 , others are using 2.4.1, and others are using 3.1.4.  This is a version mismatch issue and can probably be resolved by upgrading all libraries to the latest versions.

[2020-12-11 04:57] Anandks1993 commented on #357
@travist Updating the packages is the problem for us as we are using react older version(v15.3.0) so I added `core-js` latest version as dependency to the project and the build is working fine now. Is this approach ok to resolve this?

[2020-12-11 21:28] wag110894 commented on #348
Hello @darshanksexathought,

Absolutely. Can you provide your email address? That way we can send it over.

[2020-12-12 06:30] darshanksexathought commented on #348
@wag110894  here isy mail id darshan.ks@exathought.com

[2020-12-14 14:50] travist commented on #357
Yes, you should be good.

[2020-12-14 14:50] #357 closed

[2020-12-14 20:58] wag110894 commented on #348
Email has been sent.

[2020-12-14 20:58] #348 closed

[2020-12-15 09:44] Anandks1993 commented on #357
@travist Thank you very much. Do you have any idea how to remove the warning coming from dragula js?

[2020-12-18 16:06] wag110894 commented on #360
Hello @christianztamayo, Can you confirm that the version you are referencing is the React version and not the formio.js version?

[2020-12-23 09:40] vaspaul opened #362 "[BUG] Wrong validation"
## Environment
- React-formio version: "^4.2.4"
- Formio.js version: "4.11.0"
- Frontend framework: React "^16.8.6"
- Browser: many browsers.
- Browser version: many browser versions.

## Situations in which the bug appears:

Situation 1:
- There is a display simple condition in the parent "Panel"/"Tab" component. The display simple condition is set in the "Conditional" tab when editing the compon

[2020-12-25 09:49] Nawfal07 opened #363 "How can I personalize the cancel message in Wizard"

[2020-12-25 09:54] Nawfal07 opened #364 "How to personalize alert message after 'Cancel even' on wizard ?"
## Environment
Please provide as many details as you can:
- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 4.3.0
- Formio.js version: 4.12.3
- Framework: React.js
- Browser: Firefox
- Browser version: 84.0

Hello there, I failed to find any Event Prop that would let me personalize the alert message displayed after you click 'Cancel' (That is supposed to reset data) in wizard

[2020-12-25 09:56] #363 closed

[2020-12-25 13:06] vaspaul opened #365 "[BUG] "Data Grid" goes out of the "Panel""
## Environment
- React-formio version: 4.2.5
- Formio.js version: 4.11.0
- Frontend framework: React: 16.8.6
- Browser: many browsers
- Browser version: many browser versions

## The initial conditions:
There is a "Panel" component.
Inside this "Panel" component there is a "Data Grid" component.
Inside this "Data Grid" component, there is a "Select" component.
This "Select" component has one or mo

[2020-12-28 14:42] travist commented on #364
I am supportive of this change. You would just need to add an ```this.emit('cancel')``` around this line.

https://github.com/formio/formio.js/blob/master/src/Wizard.js#L707

if you create the pull request with this change, we will include it.

[2021-01-06 06:31] kapilgoyal6 opened #366 "[BUG]"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. When we tried to make any columns/table custom component, we extend the class from NestedComponent.
2. After that if we changed the type to our custom component such as "c

[2021-01-06 06:47] Anandks1993 opened #367 "Extending a existing component"
Hi, I have one requirement to override the existing `Signature` component. In which I need to show one Checkbox along with Signature component. Only if the Checkbox is ticked and Signature is drawn the field should be considered as a valid one in Form Renderer.

[2021-01-06 13:23] j-perl opened #368 "Why doesn't ReactComponent extend MultiValue instead?"
Hi, I want to create a custom react component and I've noticed that ReactComponent extends Field and not MultiValue. What if the field can have several values?

[2021-01-07 15:56] Anandks1993 opened #369 "Validation for custom component"
Hi,

I am working on to create a custom component in the form builder, I am able to validate the data on submission via `checkValidity` method but I need the `submit` button to be disabled if the form is invalid.

And right now the error message is showing up in alert box but I need that to show below the custom component.

Please help me to achieve proper validation for the custom component.

Cur

[2021-01-07 18:03] wag110894 commented on #366
Hello @kapilgoyal6,

Can you provide a video of the issue taking place?

[2021-01-08 14:49] travist commented on #367
This shows how to extend a component.

https://formio.github.io/formio.js/app/examples/customcomponent.html

[2021-01-08 20:17] wag110894 commented on #365
Hello @vaspaul Can you provide a JSfiddle or the JSON of the form?

[2021-01-11 17:16] #368 closed

[2021-01-12 09:49] Anandks1993 commented on #367
Thank you, I will check.

[2021-01-12 10:10] Anandks1993 opened #370 "Abort file upload using FileService"
Hi,

I am using FileService for File component to upload files using own storage. I am able to upload file and download file without any hassle, but I want to `abort` the file upload when user clicks the remove file when the file is getting uploaded. Is there any way to achieve this?

Thank you in advance.

[2021-01-14 19:21] wag110894 commented on #370
Hello @Anandks1993,

We do not have any way of removing a file in the process of getting uploaded. This would be a new feature request.
As for the process bar being struck doing the upload issue, can you provide a JSFIddle of the issue taking place?

Thank you.

[2021-01-18 04:17] Anandks1993 commented on #370
@wag110894 I just want to cancel the file upload API in the background when user clicks `X` button after the filename. In the fiddle example I could see we can stop the file upload but with FileService it isn't happening. So with FileService it would be a new feature to achieve this?

For the progress bar being stuck here is the sandbox link https://codesandbox.io/s/react-formio-forked-op37p
The b

[2021-01-18 08:33] Anandks1993 opened #371 "Example of PDF FormBuilder"
Hi,

I am going to tryout the PDF FormBuilder mode and right now when I try to upload a PDF it uses `https://api.form.io/upload` API to upload the file. Is there a way to modify this like `FileService` for `file component`?

**Note:** I tried setting `projectUrl` in the options but it appends the `/upload` text at the back in the API, also need to add headers for authentication.

Thank you for thi

[2021-01-18 11:04] turgaygulmez commented on #135
We are having the same problem. Submit handler is being called 4 times? First two calls does not contain the updated form data but last two does. Can you please resolve the issue since its very critical?

[2021-01-18 14:18] wag110894 commented on #370
Hello @Anandks1993,

That is correct. Canceling the file upload when the form is loading would be a new feature.

As for the progress bar being stuck, we are not able to replicate this using your sandbox. Can you provide a video?

[2021-01-18 14:30] wag110894 commented on #135
@turgaygulmez, where are you experiencing this issue? Locally or hosted by us? Can you provide a video as well as a form embed to help us replicate?

[2021-01-18 14:45] travist commented on #371
You can modify where this goes by altering the following code.

https://github.com/formio/formio.js/blob/master/src/PDFBuilder.js#L221

You can then just send this file whereever you want.

[code]

[2021-01-18 15:26] Anandks1993 commented on #370
@wag110894 Thank you for your response. Here I will post 2 videos, one which uses `FileService` and the one which doesn't use `FileService`. With `FileService` the progress indicator is not showing up where as it shows without using `FileService`.

1) One with `FileService`

![upload-issue](https://user-images.githubusercontent.com/26414695/104933909-80446380-59cf-11eb-8c80-f47b85c2d08a.gif)

2) W

[2021-01-18 15:28] Anandks1993 commented on #371
@travist Thank you very much for quick response. I will check out this.

[2021-01-18 21:21] caltamiranob opened #372 "how get schema "minified" from onChange method - FormBuilder"
How could get schema "minified" from onChange in FormBuilder??

I have the next code:

`
<FormBuilder
        form={{ display: "form" }}
        onChange={(schema) => setJson(JSON.stringify(schema, null, 4))}
      />
`

When the onChange method is executed the schema parameter get all properties of componentes. How could get schema with properties that is different than the default? Thank you for

[2021-01-22 22:14] wag110894 commented on #370
Hello @Anandks1993,

We are still not able to replicate this on our side when using Our FileService.

[2021-01-23 08:40] Anandks1993 commented on #370
Hi @wag110894 Oh I see, For me the issue still exists, I don't know what mistake I have done, Is there a working sample (fiddle of sandbox) with progress bar? That would be helpful for me to see what exactly the issue is.

Thank you in advance.

[2021-01-25 14:14] wag110894 commented on #370
@Anandks1993,

We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior developers to work directly with you in online sessions. Please contact support@form.io if you are interested in a support package.

Thank you.

[2021-01-26 18:06] rahulseth625 commented on #134
I have the same issue ....kindly somebody pls help

[2021-01-26 21:54] AlexeyDavyd commented on #134
@KiranreddySrDev @rahulseth625
This is just a library for rendering out forms based on the Form.io platform.
To get this working you need to import it into your react app and use according to readme.
You could also take a look and take as example our react starterkit: https://github.com/formio/react-app-starterkit

[2021-01-26 23:14] rahulseth625 commented on #134
@KiranreddySrDev ...can you pls let me know which file I have to import ?

[2021-01-27 08:33] AlexeyDavyd commented on #134
You can start using starterkit as a base for your project.
View file - is the one responsible for form rendering: https://github.com/formio/react-app-starterkit/blob/master/src/views/Form/Item/View.js

[2021-01-28 11:18] rahulseth625 commented on #299
@Andrey-Pavlov @wag110894   There is no start script while I downloaded the sorce code , So i add a custom webpack file and run the application But which is the main file that is responsible for the page loading ...Can you pls let me know

[2021-01-29 09:03] AlexeyDavyd commented on #299
@rahulseth625 This repository is just a library. It isn't meant to be used as an actual application. You should use components from this library to utilize your own react application.

[2021-02-02 08:45] pratikpbhagat opened #374 "First row data not getting populated in data grid with merge component schema"
I 'am having a select drop down Approach (with 2 values - Product Based and Process Based). I have added the below Advanced Logic on selection of the one of the values for the data grid with columns(using Text Area) like riskEvent, baselLevelI, baselLevelIi, baselRiskCategory, control and controlCategory

Type - Simple
When the Form Component - Approach
Has the Value - Product Based

Action Type -

[2021-02-02 15:38] stevenmckinnon commented on #272
Is there any updates regarding this?

[2021-02-03 14:59] travist commented on #374
What version of the imported "formiojs" library are you using? I want to think that this issue was resolved with the latest versions of our renderer (formiojs) which is imported into the react-formio library.

[2021-02-03 15:01] travist commented on #272
Still no movement on this item. Our development team are currently tied up with other things so this continues to be pretty far down on our development board. I would say that either the community will need to provide a solution, or someone will need to sponsor the development of it if the Form.io development team will take this on in a short timeframe.

[2021-02-03 16:17] pratikpbhagat commented on #374
Below are the entries in my package.json

`"formiojs": "^4.0.0-rc.21"`,
`"react-formio": "^4.2.6",`

[2021-02-05 16:01] AlexeyDavyd commented on #374
@pratikpbhagat
We have 5.0.0-rc.2 release of react-formio that supports latest formiojs version and peer dependencies.
You could try to update your react-formio and formiojs versions to latest.

[2021-02-12 13:40] rahulseth625 opened #377 "render the form form FormGrid using react form.io"
Formio.js version: "^4.0.0-rc.21",
Frontend framework: "react": "16.8.2",
Browser: chrome
Browser version: Version 88.0.4324.104 (Official Build) (64-bit)

## Steps to Reproduce
1. Want to render the form using FormGrid

## TypeError: Cannot read property 'page' of undefined

##
![page](https://user-images.githubusercontent.com/33866915/107774885-9c84b780-6d65-11eb-8c99-904d9480ce2f.png)

[code]
K

[2021-02-12 14:54] wag110894 commented on #377
Hello @rahulseth625, can you upgrade the formio.js that you are using? The project JSON mentions that the formio.js version must be at least 4.12.4-rc.2.

[2021-02-12 14:59] rahulseth625 commented on #377
@wag110894  I am using "formiojs": "^4.12.7". But still getting the same error. Kindly pls help

[2021-02-25 16:30] wagg-matt opened #379 "[BUG]"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. Fresh install of form.io using React 17.0.1
2. Installed react-formio and formiojs as per docs
3. Added stylesheet from https://unpkg.com/formiojs@latest/dist/formio.full.

[2021-02-25 16:48] wagg-matt commented on #379
After a thorough hunt it seems it was missing the bootstrap CSS found here: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css to make it look like the below:
![Screenshot (14)](https://user-images.githubusercontent.com/11614903/109186843-3d716a80-7789-11eb-8f35-9fc408cc280b.png)

[2021-02-25 16:48] #379 closed

[2021-02-26 08:41] aminmc opened #380 "npm install react-formio"
Hello

I'm trying to install react-formio using nom and I'm on react 17.0.1. When I try to execute the command I get the following:

[code]

Anyone else experiencing this issue?

[2021-02-26 14:26] SergeyMelnyk commented on #348
@wag110894 can you please send me the support package details too ?
my email melnykserhiy1@gmail.com

[2021-02-26 14:34] SergeyMelnyk commented on #348
@darshanksexathought did you have same problem?

[2021-02-26 15:52] darshanksexathought commented on #348
I did not understand your problem

[2021-02-26 17:10] alexandraRamanenka commented on #377
@rahulseth625 that is because FormGrid expects **forms** property to be an **object** with the following properties:
[code]
I know that it may be a bit confusing and unexpected, but this is because it was built first for using with Redux and forms property was representing the full state controlled by forms reducer.

[2021-03-01 06:45] SergeyMelnyk commented on #348
@darshanksexathought @wag110894 i found same trouble in this code https://codesandbox.io/s/custom-formio-component-in-react-81qb6?from-embed, try add toogle on form and look at react dev tools,
component toogle, outside main wrapper App , and hi 2 https://i.imgur.com/DwU7iku.png

[2021-03-01 14:15] wag110894 commented on #380
Hello @aminmc,

Thanks for reaching out! We are able to replicate this issue and have added it to our backlog. We welcome a PR and we also have a process to expedite the issue.

For reference, the ticket is FIO-2090.

[2021-03-02 14:58] SalTor commented on #354
@wag110894 Any update on this ticket FIO-187?

[2021-03-02 15:06] wag110894 commented on #354
Hello @SalTor,

This item is still in our backlog. As mentioned above, we do welcome a pull request or have a process to expedite this issue if you are interested.

[2021-03-08 14:18] aminmc commented on #380
@wag110894 Is there any updates on this?

[2021-03-08 19:48] wag110894 commented on #380
Hello @aminmc,
I just got the below information from one of our developers:

The latest released version of react-formio specifies react as a peer dependency with version ^15.0 || ^16.0, that’s why npm@7.x throws an error (does not happen with npm 6)
You still can install it , but you need to install it using the following command
npm i --save react-formio --legacy-peer-deps
Also, react-formio v5

[2021-03-08 19:48] #380 closed

[2021-03-10 13:20] pratikpbhagat commented on #374
Thanks, resolved by using the updated version

[2021-03-10 13:20] #374 closed

[2021-03-11 06:49] pratikpbhagat opened #381 "Updating URL hostname in all forms of form io"
I have URL to pick up values in the form of json, with an ip address XXX, and now since the ip address has changed, I want to update the URL's in all the components and forms to YYY.

Is there a way to configure the URL hostname at a global level.

![image](https://user-images.githubusercontent.com/7466629/110766005-bc32d100-827a-11eb-8cb1-e51ec5ebc459.png)

[2021-03-11 08:46] SaThViK81 opened #382 "How to hide component's "Remove" button on form builder?"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: "^4.3.0"
- Frontend framework: react
- Browser:
- Browser version:

I am using react-formio

I am getting the formData object from API and the object looks like

[code]

I want to hide the above components (First Name and Last Name) Remove button on

[2021-03-13 08:37] fdurna opened #383 "[Question] FormBuilder GET API"
Hello Guys,
Im using FormBuilder , How to load form/json data previously saved?
@randallknutson

![image](https://user-images.githubusercontent.com/15355851/111024990-a34d2b80-83f2-11eb-806e-06c9d873f0d7.png)

![image](https://user-images.githubusercontent.com/15355851/111025010-bb24af80-83f2-11eb-9ac6-0fec54fb967f.png)

![image](https://user-images.githubusercontent.com/15355851/111025019-cd9ee90

[2021-03-15 20:55] alexandraRamanenka commented on #383
You should put the whole form schema JSON (like the one which you get on your first screen) to the builder's **form** property.

[2021-03-16 20:47] travist commented on #381
You can use the Public project configurations, add those public configurations to the form json, and then you can replace this with the following.

[code]

[2021-03-22 10:11] fdurna opened #384 "[Question] Create new element with different options"
hello guys I hope you are doing well ,

I wanna add new radio btn element under basic element something similar to  Radio element with small difference in options like under data tab 10 labels gonna come as default not one  and change the some other option

![image](https://user-images.githubusercontent.com/15355851/111972749-d7210300-8b0e-11eb-9bab-3f193d8a2380.png)

![image](https://user-images.

[2021-03-22 12:21] pratikpbhagat commented on #381
Can you please help me with some sample code to specify the public project configurations.

We are initializing the form io components as below.

`<Form src={this.formJson} onSubmit={this.submitData} onChange={(schema) => this.formIoChanged(schema)} />`

Where can I specify the configuration and pass it to the `formJson` as per the code above.

[2021-03-22 14:16] e-gauthier opened #385 "When using formio/react inside a component, every time the parent component change, formio/react is destroyed and recreated."
## Environment

React-formio version: "5.0.0-rc1"  (Possibly all versions)
Formio.js version: "4.12.7"
Frontend framework: React "16.14.0"
Frontend framework: React-Dom "16.14.0"
Browser: many browsers.
Browser version: many browser versions.

## Context
Our software need to save the schema of formio in a database along with other information about a specific entity. The schema can also be altered

[2021-03-22 20:48] travist commented on #382
Add a ```hidden: true``` property to them.

[2021-03-22 20:50] travist commented on #381
If you are not using our Enterprise solution, then you will need to manually add this to the Form JSON yourself within the "config" property of the form.

[2021-03-23 15:16] grischenko-v commented on #218
@dcoevoet51 Have you solve this?

[2021-03-24 12:48] SaThViK81 commented on #382
thanks for the response @travist

The solution didn't work

I was able to see the **edit options icons** on hover of those components even after adding `hidden: true` property to them

[2021-03-26 08:48] aminmc opened #386 "recursion when using onChange"
See:

https://codesandbox.io/s/cra-react-formio-forked-tjs2l?file=/src/index.js

You can't add a new component when using onChange and try to set the state based on the new schema. This used to work before.

[2021-03-26 15:18] wag110894 commented on #384
Hello @fdurna, You can accomplish this using the custom builder.
https://formio.github.io/formio.js/app/examples/custombuilder.html

[2021-03-28 01:34] #384 closed

[2021-03-28 01:34] #383 closed

[2021-03-28 01:36] fdurna opened #388 "[QUESTION] Failed prop type: Invalid prop `form`"
How can i do  fix ? form prop i get this error ,

![image](https://user-images.githubusercontent.com/15355851/112739690-ef65a780-8f7e-11eb-80f0-1e44b65a0fb1.png)
![image](https://user-images.githubusercontent.com/15355851/112739710-3784ca00-8f7f-11eb-8cda-73fb2371c9cc.png)

[2021-03-28 19:18] fdurna commented on #384
I created a new one, but I want 10 from Values to come ready

[2021-03-29 15:19] ccontour commented on #385
This is now associated with a ticket in our system to look into further - FIO-2660

[2021-04-01 09:00] SaThViK81 commented on #382
Hi @travist,

I want to hide the **Remove button** for the above components

the above solution didn't workout

Thanks for any insights.

[2021-04-01 22:13] numanbaig commented on #272
any new regarding form.io compatibility with Material UI??

[2021-04-01 22:19] lnorton89 commented on #272
Honestly it's been easier for me to just pull in `formiojs` package and use their `saveSubmission()` method to submit my form with the appropriate names for each field corresponding to the form schema defined in the formio form. I know this isn't really optimal for large forms but these guys don't seem too serious about advancing this beyond "pay us".

[code]

[2021-04-01 22:19] #272 closed

[2021-04-05 14:20] travist commented on #388
The ```form``` object should not be an array, so not sure why it is saying that it is expected, but it would help to know what the value of your "form" is here. Is it an object or an array?

[2021-04-05 14:25] travist commented on #386
I can see that it falls into an infinite loop. Seems like a bug we need to look into.

[2021-04-06 18:48] fdurna commented on #388
I write the data to the console, you can find it in the appendix @travist
![image](https://user-images.githubusercontent.com/15355851/113762470-4870d080-9721-11eb-96c9-d2027752ac85.png)
Thank You.

[2021-04-06 21:23] e-gauthier commented on #385
@ccontour Is it possible to have an estimated time?

[2021-04-06 22:31] ccontour commented on #385
https://github.com/formio/react/pull/389

[2021-04-07 13:31] AlexeyDavyd commented on #382
Hi @SaThViK81,

We have template responsible for rendering these buttons:
https://github.com/formio/formio.js/blob/master/src/templates/bootstrap/builderComponent/form.ejs
You can override it and make Remove button depend on component key/type/property.
Save new template as JS string and then add this template to form options.

![image](https://user-images.githubusercontent.com/47381348/113874708-

[2021-04-07 15:13] JeromeS4RB commented on #385
Any update on this?

[2021-04-07 15:36] wag110894 commented on #385
As Cameron Contour provided above, we do have a PR in for this fix. We will let you know once this has been merged and tested and resolved on a stable build.

[2021-04-07 16:01] wag110894 commented on #386
For reference, the ticket number is FIO-2725.

[2021-04-08 07:27] fdurna commented on #388
Why are you closing the ticket? I did not get the answer. @wag110894

[2021-04-12 13:23] alexandraRamanenka commented on #388
@fdurna you set **form** to **items** state. And initial value of **items** is [], that's why it fails. Set initial value to something like this
[code]

[2021-04-13 20:21] fdurna commented on #388
thank you very much, it worked @alexandraRamanenka

[2021-04-13 20:21] #388 closed

[2021-04-21 07:06] aminmc commented on #386
@wag110894 Any updates on this?

[2021-04-26 15:39] wag110894 commented on #386
Hello @aminmc,

Thank you for your patience while we discussed internally your ticket. We have added this to our backlog. We have a process to expedite this issue if you are interested. We have estimated that this will take 6 hours at $150/hour to resolve.

Please let me know if you are interested and I can provide a formal quote.

Looking forward to your response.

Thank you.

[2021-04-28 08:21] rahulseth625 commented on #377
@alexandraRamanenka @wag110894
How to upgrade the formio.js version. Pls share the command. I am using redux react-app-starterkit.

[2021-04-28 08:21] #377 closed

[2021-05-10 08:15] eros-piccioni opened #391 "[BUG] Component's side menu section can't be expanded after search"
## Environment
- react-formio version: 4.3.0
- Formio.js version: 4.13.1
- Frontend framework: React
- Browser: Google Chrome
- Browser version:  90.0.4430.93 (Official Build) (64-bit)

## Steps to Reproduce
1. I'm using the example project https://github.com/formio/react-app-starterkit to test the Form Builder as is;
2. Edit a form of the example project;
3. Search components in the component's s

[2021-05-12 13:34] RishikeshVedpathak commented on #135
I was facing the same. There were multiple calls for the onSubmit handler.
I was using version react-formio `4.3.0`.
It seems to be resolved after upgrading to version `5.0.0-rc.2`

[2021-05-12 14:14] #135 closed

[2021-05-13 03:03] namti opened #392 "[BUG] The data grid component doesn't save submission data of the first row"
## Environment
Please provide as many details as you can:

- Hosting type
  - [    ] Form.io
  - [ x ] Local deployment
    - Version:
- Formio.js version: 4.3.0
- Frontend framework: ReactJS
- Browser: Chrome
- Browser version: Version 89.0.4389.114 (Official Build) (x86_64)

## Steps to Reproduce <a href="#steps-to-reproduce" id="steps-to-reproduce">#</a>
1. On the form builder, create a data gr

[2021-05-13 04:08] HCMF commented on #392
I have this bug to... here is a video of the issue: [ https://youtu.be/tkCQCksowk4](url)

[2021-05-14 19:14] wag110894 commented on #392
@namti
@HCMF

What versions of formio.js are you running on?

[2021-05-17 00:11] HCMF commented on #392
I am also using 4.3.0

[2021-05-17 14:08] wag110894 commented on #392
This formio.js is rather old. Can you try upgrading? The latest stable version is 4.13.1.

[2021-05-17 21:37] HCMF commented on #392
As this is the React version, is it possible to update just the core formio.js?

[2021-05-18 00:51] namti commented on #392
I have spotted the bug.

The first row which is generated by default always returns an array with object keys and values in it.
![image](https://user-images.githubusercontent.com/2180936/118573636-100bea00-b7d7-11eb-9f67-3c0960e90f2b.png)
When setState in react, the illegal array is ignored and it is fell back to an empty array.

I have tried to upgrade to [5.0.0-rc.2](https://www.npmjs.com/packag

[2021-05-18 14:09] wag110894 commented on #392
@namti, We welcome a pull request if you can provide a fix for the issue, then we can pull it in.

[2021-05-25 22:43] namti commented on #360
I found the same issue
[code]

[2021-05-26 00:08] namti commented on #360
Just tried [5.0.0-rc2](https://www.npmjs.com/package/react-formio/v/5.0.0-rc.2). It is fixed in this version

[2021-05-27 06:32] sch-publicplan commented on #362
That is because of "Clear Value When Hidden" in EditGrid. You can deselect this option and it works.

[2021-06-02 08:52] sdancer75 opened #395 "Using a callback when getforms completed"
Is there any way to use a callback function when `getforms ` completed its job ie fetched all forms from the database?

[2021-06-02 08:53] sdancer75 opened #396 "Using a callback when getforms completed"
Is there any way to use a callback function when `getforms ` completed its job ie fetched all forms from the database?

[2021-06-02 08:55] sdancer75 opened #397 "Callback when getforms completed"
Is there any way to use a callback function when `getforms ` completed its job ie fetched all forms from the DB?

[2021-06-02 08:56] #396 closed

[2021-06-02 08:57] #397 closed

[2021-06-02 14:43] #360 closed

[2021-06-10 10:52] MohittPattel commented on #126
I got the same problem while install 3d react carouselal

[2021-06-16 15:10] szymboro opened #398 "[Question] How to add grid with submissions to this code"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version: 7.0.43
- Formio.js version: x
- Frontend framework: React
- Browser: Brave
- Browser version: latest

I think that I have tried everything...

For code or form JSON, please enclose in a code block:

[code]

[2021-06-23 11:34] mm-dsibinski commented on #184
I also installed the newest https://www.npmjs.com/package/@formio/react, but can't use it with TypeScript because of no typings..

[2021-06-23 11:39] mm-dsibinski opened #399 "Is `react-formio` npm package still needed?"
Hi guys,
I've been using the `react-formio` npm package (https://www.npmjs.com/package/react-formio) so far, but I noticed that there's a maintained one under `@formio/react` (https://www.npmjs.com/package/@formio/react).

For me it seems that https://www.npmjs.com/package/react-formio is not updated anymore.
Shouldn't this npm be removed or at least an information added on its npm page, that now

[2021-06-23 16:06] wag110894 commented on #391
Hello @ErosII, Can you still replicate this on latest verison of Form.io React and Formio.js?

[2021-06-24 07:07] ErosII commented on #391
I can still replicate with `formiojs` 4.13.2 (latest stable) and `@react/formio` 5.0.0. Is it safe to use also the release candidates for example the lastest 4.14.0-rc.12? Should i give it a try?

[2021-07-05 08:35] acordobamo opened #403 "[react-formio] Sending values through parameters to selector component"
Hello, I need to be able to send values by parameters (such as data source type, data source url, item template, etc ...) to the selector components, from my react code. How would it be possible? Thanks in advance.

[2021-07-22 12:35] pboucher1960 commented on #385
Hi, last comment is from Apr 7 and still no news since that time. Any idea when this PR might get merged and distributed in a stable build? Thank you!

[2021-07-22 13:50] wag110894 commented on #385
This PR has been merged into React Version 5.1.0-rc.1.

[2021-07-22 13:50] #385 closed

[2021-07-29 10:34] ivoscode opened #404 "[question] Custom components-registering @formio/react 5.1.1"
Hello,
Could you please point the right direction on how to make custom components. I was able to create and use component on FormBuilder but it does not render on the Form.
 It displays Unknown component: sliderCustomComp. It looks like it needs to be registered on the Form for it to be recognised but I don't know how.

Thanks,

- Formio.js version: 5.1.1
- Frontend framework:React

`import { Rea

[2021-07-29 11:36] #404 closed

[2021-08-05 14:56] ivoscode opened #405 "[BUG] this.reactInstance =null on Form"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version: 5.1.1
- Formio.js version: 4.14.0-rc.17
- Frontend framework:Next.js 11.0.2
- Browser: Chrome
- Browser version: 92.0.4515.107 (Official Build) (arm64)

## Expected behavior
I have a custom slider component. Using it in FormBuilder and expecting it to show up in Form and

[2021-08-16 02:55] Mathew77 opened #406 "Widget Type- ChoicesJs"
Hi,
When I select choicesjs on the widget type for the select dropdown that i place inside Data Grid the options are not displaying.
Please how can I fix this.
Thanks.

[2021-08-16 13:51] wag110894 commented on #406
Can you provide the form embed?

[2021-08-16 17:12] Mathew77 commented on #406
Hi,
Thanks for reaching out.
Please find attached images.

On Mon, Aug 16, 2021 at 2:52 PM Will Gay ***@***.***> wrote:

[2021-08-16 18:18] wag110894 commented on #406
Hello @Mathew77, I am not seeing any attached images. Can you resend them?

[2021-08-17 12:05] Mathew77 commented on #406
Hi,
Please see attached images.

Thanks.[image: Data Grid.JPG]
[image: wdiget type.JPG]

On Mon, Aug 16, 2021 at 7:18 PM Will Gay ***@***.***> wrote:

[2021-08-17 13:46] wag110894 commented on #406
Can you retry and add them onto github itself?

[2021-08-18 05:10] Mathew77 commented on #406
![wdiget type](https://user-images.githubusercontent.com/7923670/129840510-1e7b62c4-1f93-4f45-bdbc-21bdfb3783c6.JPG)
![Data Grid](https://user-images.githubusercontent.com/7923670/129840524-147a5e10-ec13-46c5-b69e-7c7f3874b1a7.JPG)

@wag110894  If I select the ChoicesJs as the option of the widget type the dropdown list will be empty  and is inside a Data Grid.

Thanks.

[2021-08-18 13:32] wag110894 commented on #406
Can you provide the JSON?

[2021-08-18 19:50] adventmedia opened #407 "[BUG] migrating from react-formio - what replaces "ref" prop?"
## Environment

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 5.1.1
- Formio.js version: 4.13.2
- Frontend framework: react 16.13.1

Migrating to `@formio/react` from `react-formio`:
We were using the `ref` prop to return the instance of the formio object to access its apis:

[code]
`ref` prop has been removed - how do we now get access to `form`?

[2021-08-18 21:44] Mathew77 commented on #406
{
  "resourceObject": null,
  "display": "",
  "components": [
    {
      "label": "HouseHold",
      "labelPosition": "top",
      "description": "",
      "tooltip": "",
      "disableAddingRemovingRows": false,
      "conditionalAddButton": "",
      "reorder": false,
      "addAnother": "",
      "addAnotherPosition": "top",
      "defaultOpen": false,
      "layoutFixed": true,
      "enable

[2021-08-19 09:46] yuenyuen2010 commented on #407
I also can reproduce the issue reported by @adventmedia . I got the following warning message in the console log.

![image](https://user-images.githubusercontent.com/33590518/130047043-af6da111-a065-4609-a966-b857637ad82e.png)

Could you mind telling me if there's a way to get the reference? Thank you very much.

[2021-08-27 20:13] mdesousa opened #408 "[BUG] embedded form into the application has styling issues"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: 5.1.1
- Frontend framework: React

## Steps to Reproduce
Embed a form inside and existing React application as shown in the example:

[code]

## Expected behavior

The form shows as it appears in the preview in form.io

## Observed behavior
The form

[2021-09-01 14:25] madflow commented on #408
I had to import the form styles from the `formiojs` package.

[code]

[2021-09-02 12:40] nikakoy131 commented on #266
I have the same issue. I need other submissions because I have BE validation errors. After the user fix invalid input values, we need to send the submission again
I had already tried
1. Update form submission
2. Update form JSON by copying them
3. Resetting form by using 'resetForm' event, after submission (and my requests) done
Only one thing that helps me - reset the form after ~500ms. But it is

[2021-09-15 10:20] SanleyPan commented on #391
Same issue

[2021-09-15 10:56] ivoscode commented on #405
Found a solution in case someone needs it. Getting instance via ref and then assigning to this.reactInstance.
[code]

[2021-09-15 10:56] #405 closed

[2021-09-15 22:55] simonv3 commented on #250
The example in the react-app-starterkit is pretty old - using formio 3.x - is there nothing newer?

For example, the line that supposedly loads the components:

[code]

none of those objects are still existing in react-formio? It does look like now there's a `ReactComponent` function that might be useful, but without any documentation :shrug:

[2021-09-21 13:18] acordobamo commented on #135
Hi, I currently have the same problem. I am using version 5.1.1. Is there a solution for this?

[2021-09-27 15:59] madflow opened #410 "[BUG] Form does not change language when options change"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version: Latest
- Formio.js version: Latest
- Frontend framework: React
- Browser: Firefox latest
- Browser version: latest

## Steps to Reproduce
1. Use React and Formio with i18next.
2. Configure everything something like this:

[code]
3. Change the language

## Expected behavi

[2021-10-02 22:13] rijusougata13 commented on #410
hi @madflow  can you assign me here?

[2021-10-04 08:13] madflow commented on #410
@rijusougata13 No, I cannot assign you.

[2021-10-07 10:59] mm-dsibinski opened #411 "[BUG] Form's onChange not called after form's field validation rule updated from required to non-required"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Local deployment
    - Version: N/A, issue only with @formio/react
- Formio.js version: 4.13.7
- @formio/react version: 5.1.1
- Frontend framework: React
- Browser: Google Chrome
- Browser version: Version 94.0.4606.71 (Official Build) (64-bit)

## Steps to Reproduce
I prepared a simple app reproducing the problem:

[2021-11-03 02:08] namti opened #414 "[BUG] <Form /> onChange event triggers infinitely with pre-populated submission data"
## Environment
Please provide as many details as you can:

- Hosting type
  - [    ] Form.io
  - [ x ] Local deployment
    - Version: "@formio/react": "5.1.1"
- Formio.js version: 4.13.8
- Frontend framework: ReactJS
- Browser: Chrome
- Browser version: Version 95.0.4638.69 (Official Build) (x86_64)

## Steps to Reproduce
1. Open console inspector,
2. select one of radio buttons, or
3. click on t

[2021-11-10 08:44] mm-dsibinski opened #415 "[BUG] isValid flag on submission is set wrongly when number field is added to the form"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version: N/A
- Formio.js version: 4.13.9
- Frontend framework: React
- Browser: Google Chrome
- Browser version: Version 95.0.4638.69 (Official Build) (64-bit)

## Steps to Reproduce
1. Download the sample create-react-app project with reproducible example:
[formio-validation-num

[2021-11-15 19:07] jhen1422 commented on #344
Our dev team was unable to reproduce the issue.

Please retest this using latest FJS and React versions

[2021-11-15 19:07] #344 closed

[2021-11-16 13:21] LenaKis opened #418 "Multiple forms with submit buttons on one page"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
Hello! I use formiojs v4.12.1-rc.16. I have two forms

First form
{"components":[{"label":"Текстовое поле","tableView":true,"key":"textfield","type":"textfield","keyModified"

[2021-11-16 13:32] LenaKis commented on #418
Hello! I use formiojs v4.12.1-rc.16. I have two forms

First form
{"components":[{"label":"Текстовое поле","tableView":true,"key":"textfield","type":"textfield","keyModified":true,"input":true},{"label":"Кнопка","showValidations":false,"tableView":false,"key":"submit1","type":"button","keyModified":true,"input":true}]}

Second form
{"components":[{"label":"Текстовое поле","tableView":true,"key":"t

[2021-11-18 11:36] AlexeyDavyd commented on #418
@LenaKis Could you please share an example of how do you exactly rendering these two forms?

[2021-11-18 11:54] LenaKis commented on #418
let form1 = '{"components": [{"label": "Текстовое поле", "tableView": true, «key»: «textfield», «type»: «textfield», «keyModified»: true, «input»: true}, {"label": "Кнопка", "showValidations": false, "tableView": false, "key": "submit1", "type": "button", "keyModified": true, "input": правда}]}';

let formElem= document.getElementsByClassName('formio-content')[0];

var dataComponents = [
    {

[2021-11-18 14:14] AlexeyDavyd commented on #418
@LenaKis  I have rendered one form two times in two separate HTL elements but was not able to make them submit at once.
![image](https://user-images.githubusercontent.com/47381348/142431550-de065eda-3b41-4586-9163-07c93c592138.png)

Please provide some more specific info on how do you handle yours two forms.

[2021-11-19 07:37] LenaKis commented on #418
My fiddler with examle
https://jsfiddle.net/hf1rzjx8/

[2021-11-19 13:09] AlexeyDavyd commented on #418
@LenaKis After some investigation I realized that it happens because of same instance of FormioOptions that you pass to createForm method.  I was able reproduce same issue and fix it by creating one more variable for formioOptions2 or using spread to avoid same link to object.

[2021-11-19 15:46] LenaKis commented on #418
Thank's! It work!

[2021-11-19 15:46] #418 closed

[2021-12-13 02:28] jafin commented on #184
@randallknutson

I could not see any active typescript compiler being used. So I added Typescript to generate the typedefs only, and made a PR.  I haven't covered all the types (via jsdoc annotations) , and some maybe wrong, but it's a start and was enough for me to integrate into an existing project.

Are you interested in moving the project itself to typescript? I may have some time I can commit

[2021-12-14 06:24] PradeepGorule14 opened #422 "[BUG]"
Hi I'm using file component and but when I'm adding a file it still shows the browse button until progress is  getting completed I'm not sure is there any solution for this when I'm adding one file browse button will disappear
![image](https://user-images.githubusercontent.com/87057585/145944602-0519a798-f411-4253-b063-5b99568a23fa.png)

[2021-12-21 11:57] fdurna opened #423 "[QUESTIONS] Component Settings Hide Section"
Hello Guys

I have a very simple question, I want to hide the areas I marked, how can I do it? @travist

![image](https://user-images.githubusercontent.com/15355851/146926191-0907cf10-1cef-4fb8-80d4-1ff44d05906b.png)

[2022-01-24 06:40] elias-soykat opened #429 "[BUG]"
Hey formio Teams!!

I create a dropdown menu inside the table component. When I use a dropdown inside the table component than the drop down face an overlapping issue. how can i resolved this. and is there any way i can build this table layout without table else!
</br>
![overlap](https://user-images.githubusercontent.com/76895393/150734035-3ccefc38-f91b-4b95-8e35-10a2c47422e3.jpg)

[2022-01-28 20:21] crcollver-ats opened #430 "[QUESTION] When should the onUpdateComponent event in the FormBuilder be triggered?"
The description for this event says it's "triggered when a component is added or moved in the form".  From what I can observe, the event is only triggered when the settings dialog is opened or cancelled.  Clicking save in the dialog does not generate this event.

Furthermore, moving an existing component within the builder does not generate the event.

I'm using `formiojs 4.12.6` and `@formio/reac

[2022-01-31 12:43] Obaidraj opened #431 "[BUG] Role Access in form.io"
How can I Do this in form.io
![formio](https://user-images.githubusercontent.com/38789569/151795765-19f5ccc6-63b1-46f7-8799-e16f5b9ead07.PNG)

[2022-02-03 15:53] devcovato commented on #407
Hi,

Like the reporter, I need to access the formio object. Locally, I modified the file <https://github.com/formio/react/blob/master/src/components/Form.jsx> as follows:

[code]

The compilation process provides the green light. 🙂

Below is the usage where the form schema doesn't contain a submit button:

[code]

The browser console reports:

    in ForwardRef(Form) (at MyForm.jsx:15)

I don't ha

[2022-02-09 05:17] #334 closed

[2022-02-22 15:35] rafmachado opened #435 "Create Custom Components Issue"
- Hosting type
  - [x] Form.io
- formio/react version:
    - Version: 5.2.0
- Frontend framework:
    - React: 16.8.2

## Steps to Reproduce
1. Create a custom component extending the behaviour of the Radio Form io Component. Code example:

[code]

## Expected behavior
This code should extend the behaviour of the Formio and the css classes of our ToggleButton Component (Custom Component)

## Obser

[2022-02-23 12:00] rafmachado opened #436 "Add New Templates to Formio"
Hi all,
I want to add a custom framework, like bootstrap, to formio. I am trying to use Templates, but the struture of my css framework is not the same as formio/bootstrap, for example.
Is there any way to add my library using/ading new Templates?

@randallknutson

[2022-02-25 16:06] cesosag opened #437 "[QUESTION] How can I render a single (nested) formio component inside a custom component?"
I'm trying to create a custom component that can render rows of other components (they could be anything: i.e. another custom component or an already existing formio component). But I haven't found a way to use formio to render a component form the form definition that comes in the components array. Let's say we have the following form definition that comes from a json response:
[code]

[2022-03-02 07:59] sdancer75 opened #439 "New Data to Admin Resource Error"
Entering a new entry to the Admin Resource shows an error bar without a description.

https://ibb.co/kx2XjfM

This happens when I select from the Action --> [Save Submission] to save submission to "Admin". When it's empty it works.

https://ibb.co/4V7WgnD

Is that normal behavior? As far as I understand the admins should be saved to Admin resource, Users to Users resource, and so on.

Thanx

[2022-03-02 16:56] rafapsm commented on #301
Is there a solution for this problem. I am facing the same issue.
Thanks!

@vishaldenzil

[2022-03-04 07:41] Anandks1993 commented on #371
Hi @travist as you suggested I could upload PDF to custom server and convert it to HTML like `formio` does. But when I try to render the generated html document the components inside the sidebar is disabled, I could not drag and drop over the html pdf file. Am I missing something here which makes the buttons to go disabled?

Thank you in advance.

[2022-03-20 00:00] Alexa-Green opened #440 "[BUG] customValidation not working"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: `5.2.0`
- Formio.js version: `5.2.0`
- Frontend framework: react
- Browser: any- currently using Chrome
- Browser version: any- currently using `99.0.4844.74`

## Steps to Reproduce
1. Create a new `<Form />` component
2. Add hooks to the `form` prop:
[code]
3. View the

[2022-03-21 06:42] Anandks1993 commented on #391
Same issue

formiojs: 4.13.9
@formio/react: 5.1.1

[2022-04-13 20:55] Ashakibp opened #443 "[BUG] Cannot prepopulate provider and key in address component"
## Environment
Please provide as many details as you can:

While passing in custom components, we are not able to set the `provider` and `params.providerOptions.params.subscriptionKey`

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
FormIO react
- Frontend framework:
NextJs/React
- Browser:
Chrome
- Browser version:

## Steps to Reproduce
1. pass in the

[2022-04-13 21:15] Ashakibp commented on #443
Just to clarify, this is happening when trying to put a pre-defined address component with the provider and API key

[2022-04-20 21:34] edwinanciani commented on #443
@Ashakibp Could you send screenshots of the error you are facing?

[2022-05-08 18:39] Tzach123 opened #445 "[BUG] formio Submission Grid column shows [object Object]"
Hello everyone!

In this case, I use with "SubmissionGrid" component and the type field is the "Select" component.
How can I resolve this issue?

![image](https://user-images.githubusercontent.com/64698477/167309793-0c883f61-351b-4e3a-bb02-4f8f61d5adbb.png)

[2022-05-11 18:58] simonv3 commented on #286
It would be cool to get something working for function components, since that's the way React is going.

[2022-05-18 22:51] jafin opened #446 "[FEATURE REQUEST] React18 Compatability"
React 18 is not a supported dependency for react/fomio.
Please consider supporting react18

[code]

[2022-05-19 08:55] sdancer75 commented on #395
It seems that there is a callback for this.

[2022-05-19 08:55] #395 closed

[2022-05-19 09:46] sdancer75 opened #447 "[BUG] getSubmissions sort filter has no effect"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 4.3.0
- Formio.js version: 4.14.2
- Frontend framework: 16.8.2
- Browser: chrome
- Browser version: 100.x

## Steps to Reproduce
1.  Use getSubmissions (name, page filter)
2.  As filter use { sort: '-data.newsdatetime' }
3. Submissions are not sorted

## Expected behavi

[2022-05-20 09:56] sdancer75 commented on #447
It seems that the offending code at ```src\modules\submissions\actions.js``` ignores any sequential `getSubmissions `  sorting parameters if the initial internal state is missing of this attribute. Why?

[code]

[2022-05-20 17:21] DaCastle opened #450 "[BUG] documentation - object passed to 'submission' prop must be named 'data'"
## Environment
Please provide as many details as you can:

The [JavaScript docs](https://help.form.io/developers/form-renderer#rendering-submissions) show an example, but the react docs do not make it obvious that the `submission` prop needs the object containing the submission values to be named `data`.

As such, my first thought was to just pass my submission key/values like:
`submission={formAn

[2022-05-23 11:09] darshanpkanhasoft opened #451 "Is there any way to support RTL for Arabic language and translation for react"
Hello,

i am not able to find any proper DOC for integrate RTL support and language translation for form builder and preview page
can you please help me...

Thanks

[2022-05-25 09:44] darshanpkanhasoft commented on #451
also i chaked this url for DOC but there is nothing
https://help.form.io/developers/rtl-forms

[2022-05-25 09:59] chan9948 opened #452 "[BUG] signature component not working for mobile with PDF display mode"
- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: 4.14.7
- Frontend framework: react 18.1.0
- Browser: chrome
- Browser version: 101.0.4951.67

 Signature component cannot be draw on mobile with PDF display mode , but works with form view mode.

console log showing "Unknown plugin option widgets"

[2022-06-09 12:21] Tzach123 opened #454 "[BUG] init auth access token behavior"
## Bug description

When the access token is invalid, the request fails but the auth.user remains in redux store.
As a result, the failUser() was not dispatch and the user was not reset.

## Result

path: src\modules\auth\actions.js
function: initAuth

Deleting internal catches (.catch(() => {}))

![result](https://user-images.githubusercontent.com/64698477/172821618-575907dc-b8b8-4018-aa9d-4bcc4a

[2022-06-10 23:05] crcollver commented on #415
I'm having the same sort of issue with the isValid flag.  For me, the isValid flag is reporting that the form is valid on initial render, but the Form's internal state seems to contradict that state since the included Submit button is disabled still.  Without access to the form's ref (#407), this makes using a custom submit button almost impossible with this library since I can't manually call the

[2022-06-13 06:07] mm-dsibinski commented on #415
@crcollver unfortunately no... Validation in FormIO component is totally unreliable. We've been already doing many "haxes" in the JSONs of the forms/submission objects for different things, because FormIO is veeery buggy, but haven't found any solution for valiation problems.

[2022-06-13 18:14] joaotalegria opened #455 "[BUG] Losing data when re-rendering the form with custom components"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 4.14.7
- @formio/react: "5.2.3,
- Frontend framework: React v.17.0.2
- Browser: chrome
- Browser version: 102.0.5005.63

## Description
1. Giving a wizard with 3 pages, all of them with custom-components
2. The data inserted on them is persisted on a

[2022-06-22 08:30] giaffa86 opened #456 "[BUG] Not working with nextjs 12"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version: @formio/react 5.2.3
- Formio.js version: 4.14.8
- Frontend framework: Nextjs 12.1.6 / React 18.2.0
- Browser: Edge
- Browser version: 102.0.1245.44

## Steps to Reproduce
1. npx create-next-app@latest
2. npm install @formio/react --save
3. npm install formiojs --save
4.

[2022-06-22 09:54] giaffa86 commented on #456
I've resolved with dynamically import the named module 'Form'.

`
import dynamic from "next/dynamic";
import React, { useState } from 'react';
import formSrc from "../samples/formio.json";

//dynamically import a named export
const DynForm = dynamic(() => import("@formio/react").then((mod) =>  mod.Form
), {
ssr: false,
});

function Test() /*: NextPage = () =>*/ {
  return (
    <div>
      <DynFo

[2022-06-22 09:54] #456 closed

[2022-06-24 18:12] chencym321 commented on #323
Hi, I render the form with follow code and form works fine and it does translate but I get an warning

react-jsx-dev-runtime.development.js:97 Warning: Failed prop type: Form: prop type `options.readOnly` is invalid; it must be a function, usually from the `prop-types` package, but received `undefined`.

does anyone have any idea about it?

<Form
                                    form={props.app

[2022-06-25 09:25] mm-dsibinski commented on #323
@chencym321 I've been seeing this same warning lately. However, I've never reported it - most of the issues I report are never fixed, so I decided to live with it ;)

[2022-07-03 08:27] thanhnvpk01168 opened #457 "Does this library have support for react native[FEATURES]"
I just wanted to ask if this library can be used in react native, thanks in advance

[2022-07-05 14:53] wag110894 commented on #457
You can use this library: https://github.com/formio/react-native-formio

[2022-07-06 08:08] sdancer75 opened #458 "Extending a SubmissionGrid component I get error [Uncaught TypeError: Cannot call a class as a function]"
Using the latest version of @react/formio v5.2.3 I get

**Uncaught TypeError: Cannot call a class as a function** when I am trying to extend the parent component ie

```export default class CustomSubmissionGrid extends SubmissionGrid {}```

The error occurred from ```@babel/runtime/helpers/esm/classCallCheck.js:3:1``` at the following code

[code]
Any recommendation to solve this?

[2022-07-13 18:50] e-gauthier opened #459 "[BUG] FormBuilder is rendered 2 times on initialization"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x ] Local deployment
    - Version: 5.2.3
- Formio.js version: 4.14.8
- Frontend framework: React
- Browser: Chrome/Edge
- Browser version: Latest

## Steps to Reproduce
1. Create an app with CRA.
2.  Add the component FormBuilder with a Builder class.
3. Add a console.log inside the constructor of the cl

[2022-07-24 19:55] elias-soykat commented on #459
@e-gauthier  Your codesandbox does not work.

[2022-07-24 19:58] elias-soykat commented on #455
@joaotalegria  Could you share a codesandbox or jsfiddle for better understand.

[2022-07-25 14:39] e-gauthier commented on #459
You can try again. I restored the sandbox.

[2022-08-03 10:13] bayyamsandeep commented on #308
calender in not displaying in my project could you please help me

[2022-08-04 12:18] jessetcofie commented on #184
Anyone still looking for a fully wrapped TS implementation can try [@tsed-formio](https://github.com/tsedio/tsed-formio).

[2022-08-04 18:41] Alexa-Green commented on #286
@PhilipeGatis What did you do to fix this? Have a class component rendering a function component, setValue is working but not the initial value. Tried calling onChange on componentDidMount but it is overwriting with createInitialFields() even though submission data has been saved

[code]

[2022-08-05 12:11] bayyamsandeep commented on #163
In the Date/Time Component when I click on the Input field or icon Calender is not Opening. Currently, I am using @formio/react 5.2.3 and Formio.js 4.14.8.

[2022-08-05 12:13] bayyamsandeep commented on #163
![FormioCalendar](https://user-images.githubusercontent.com/101857028/183075059-f2c12861-52ef-41ac-a721-df4f908ee237.png)

[2022-08-05 12:15] bayyamsandeep commented on #163
I am missing an input element with a class name form-control active. I have no idea why I am missing that input

[2022-08-09 14:16] Benzer1406 commented on #455
Happens to me to. Have a custom component in a formio wizard. When I fill out the custom component, click on next, and then go back, the data of the custom component is gone.

[2022-08-09 14:18] Benzer1406 commented on #321
Same happens to me

[2022-08-19 07:08] ragunanthan opened #464 "OnChange property not in the package what you can give to us FormBuilder [BUG]"
OnChange property not in the package what you can give to us FormBuilder
![image](https://user-images.githubusercontent.com/66114285/185563353-88ebd461-269c-4654-883d-dbfcf6902989.png)

Package screenshot:
![image](https://user-images.githubusercontent.com/66114285/185564670-6319ea8b-202d-4743-bd1f-9af2da23c431.png)

[2022-08-19 07:28] #464 closed

[2022-08-24 07:32] #429 closed

[2022-08-27 05:52] iyyappanrock535 opened #466 "[BUG] Form components edit grid"
Form components I'm using edit grid json. But the edit grid single row edit and delete icon available. But i click the delete button what events i will use in the react formio?

[2022-09-02 14:36] travist commented on #410
We added this for our Monday planning to get this prioritized.  Thanks.

[2022-09-20 06:24] boussadjra opened #470 "Reading moment version issue"
## Environment
Node v16.13.2
vite 3.0.3

- Hosting type

  - [x ] Local deployment

- Version:
- Formio.js version: 4.13.4
- Frontend framework: React (antd)
- Browser: google chrome
- Browser version: 105.0.5195.127

## Steps to Reproduce
1. intallation of @formio/react & formiojs
2. adding the basic example
3. running the example in the browser

## Expected behavior
Showing the basic form `<Form

[2022-09-20 08:23] #470 closed

[2022-09-23 12:31] aryanisml opened #471 "formio support react material UI ?"
Is there a way to support form io with react material UI.

[2022-09-27 10:04] AyoubSayah opened #472 "[BUG] OnCancel prop dosent work properly and its not mentioned in the documentation"
We have an issue using wizard we wanted to override cancel button behavior, but when we set our implementation into the OnCancel() callback doesn't work even the event did not dispatch.
The only workaround to override is to get the Form instance, then override his property function cancel() and I am not sure if it's gonna make problems later or not!.
[image](https://user-images.githubusercontent.c

[2022-09-27 13:31] aryanisml opened #473 "please share the example of react with typescript"

[2022-10-10 12:21] jake-pharr opened #474 "[BUG] Support for Custom Components React 18.x"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [ x ] Local deployment
    - Version:
- Formio.js version: "^4.14.8"
- Frontend framework: "react": "^18.1.0", "@formio/react": "^5.2.4-rc.1",
- Browser: Any
- Browser version: Any

## Steps to Reproduce
1. Implement custom Formio Component as checkmatrix.js example
2.
3.

## Expected behavior
Working Cust

[2022-10-10 21:02] brendanbond commented on #474
Hi @jake-pharr, thanks for reaching out. This has to do with an update to React 18's client rendering APIs. You'll see this warning until you change `ReactDOM.render()` function to React 18's new render API `createRoot`. Please see [this link](https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-client-rendering-apis).

[2022-10-10 21:02] #474 closed

[2022-10-11 17:28] brendanbond commented on #474
@jake-pharr I might have misunderstood your issue here, let me take a look when I get a moment and get back to you ASAP

[2022-10-14 10:13] aryanisml opened #475 "Is there any way to support material theme or component instead of bootstrap component or theme ?"

[2022-10-17 07:56] aryanisml commented on #272
Still any update or information of material UI with React integration of form builder.

[2022-10-17 20:18] adventmedia opened #476 "[FEATURE REQUEST] Event for breadcrumbs"
The `<Form/>` component has event callbacks for onPrevPage and onNextPage. Unfortunately using breadcrumbs renders these functions rather useless as users can skip to any page without triggering.
So the the request is simple: an event that is triggered when a breadcrumb is clicked, ideally with the index.
Thank you.

[2022-10-28 08:56] jasonsegal23 opened #478 "[BUG] Receive 'Not Authorised' when using Custom JWT Authentication"
## Environment
We are running with the following setup:
- Local FormIO Server
- NodeJS API (Authenticates with IDS + Serves FormIO Token)
- React Web App (Rendering FormIO Form using '@formio/react')

## Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - **FormIO** Version: 3.0.0-rc.10
    - **@formio/react** Version: 5.2.4-rc.1
    - **formiojs** version: 4.14.9
    - Frontend framework:

[2022-11-08 11:40] aryanisml opened #480 "Premium component like Tagpad , Sketchpad are not available"
I am using formio/react formbuilder. I am not able to see the mention two premium component tagpad and sketchpad.
is any way to enable or visible this two component ??? Or we need to buy the form io for premium component ?

[2022-11-10 12:46] aryanisml opened #483 "Any example of custom component with react functional component."

[2022-11-10 18:02] jake-pharr opened #484 "[BUG] Support for Custom Components React 18.x Component Detaches from Validation"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
 - [ x ] Local deployment
    - Version:
- Formio.js version: "^4.14.8"
Frontend framework: "react": "^18.1.0", "@formio/react": "^5.2.4-rc.1",
Browser: Any
Browser version: Any

## Steps to Reproduce
1. Implement custom Formio Component as checkmatrix.js example
2.
3.

## Expected behavior
Custom Input to be

[2022-11-11 02:09] brendanbond commented on #484
Thanks for the bump on this. I have a date with a deep dive on the React renderer soon and will keep 18+ compatibility at the top of the list.

[2022-11-14 14:58] jake-pharr commented on #484
Thanks @brendanbond .

[2022-11-15 12:48] FractalStranger opened #485 "[BUG] Custom component unmounting"
Hi,

I have a React18 project and wanted to make custom react-formio component (code below) but `this.container.unmount` in `detachReact` method shows this warning:

**_Warning: Attempted to synchronously unmount a root while React was already rendering. React cannot finish unmounting the root until the current render has completed, which may lead to a race condition._**

is there any way to unmou

[2022-11-16 05:39] abilpraju-aot opened #486 "formio object returns null value while updating to @formio/react"
Hi,
I am currently using the "react-formio": "^4.3.0" package and "formiojs": "^4.14.0" .while updating to the new package "@formio/react": "5.2.3" with "formiojs": "^4.14.6". The formio object returns a null value. Any help would be appreciated
![image](https://user-images.githubusercontent.com/83952803/202092978-937b9c84-a919-42b5-9b22-f568c161e3b8.png)

[2022-11-16 05:53] aryanisml opened #487 "Custom component - Any example of custom component of react with typescript ?????"
I have tried to create the custom component by using react with typescript
getting the below error

Property 'schema' does not exist on type 'typeof ReactComponent'.

import  { ReactComponent } from '@formio/react';
import * as ReactDOMClient from 'react-dom/client';

 static schema() {
    return ReactComponent.schema({
      type: 'toggleCustomComp',
      label: 'Default Label',
    });
  }

It

[2022-11-16 14:18] FractalStranger commented on #485
Typescript? Does react-formio support Typescript? It doesn't seem so.

Here is the code of custom component:
https://jsfiddle.net/kv0tq9p8/

[2022-11-17 07:57] aryanisml commented on #486
Do you have any code sandbox or any link where we can see the code.

[2022-11-17 08:14] aryanisml commented on #140
Is there any option or any example to implement saveDraft in react application ??? SaveDraft is only working with form builder server or we can use with any server.

[2022-11-17 11:14] abilpraju-aot commented on #486
I have faced this issue above "@formio/react": "5.0.0" version and no sandbox environment I have tested on my local machine. Thank you